<section class="padding-0">
    <mat-card class="transparent mat-elevation-z0">
        <mat-card-header>
            <div mat-card-avatar><button mat-icon-button [routerLink]="['../']"><mat-icon>chevron_left</mat-icon></button></div>
            <mat-card-title>Edit Device</mat-card-title>
        </mat-card-header>
    </mat-card>
</section>
        
<section>
    <mat-card class="blur mat-elevation-z10">
        <mat-card-header>
            <div mat-card-avatar><mat-icon>{{ form.value.type?.icon }}</mat-icon></div>
            <mat-card-title>{{ form.value.name || '&nbsp;' }}</mat-card-title>
            <mat-card-subtitle>{{ form.value.description || '&nbsp;' }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <form fxLayout="column" fxLayoutGap="20px" [formGroup]="form" (ngSubmit)="save()">
                <alerts [messages]="alerts.messages" [loading]="loading.partial || loading.full"></alerts>

                <!-- Details -->
                <div *ngIf="!alerts.messages.error" fxLayout="column" class="padding-top-30">
                    <!-- Name -->
                    <mat-form-field>
                        <input matInput placeholder="Name" formControlName="name" type="text" />
                    </mat-form-field>
                    
                    <!-- Type
                    <mat-form-field>
                        <mat-select placeholder="Type" formControlName="type" [compareWith]="compareFn">
                            <mat-select-trigger>
                                <mat-icon>{{ form.value.type?.icon }}</mat-icon>
                                {{ form.value.type?.label }}
                            </mat-select-trigger>

                            <mat-option *ngFor="let type of formOptions.deviceTypes" [value]="type">
                                <mat-icon>{{ type.icon }}</mat-icon>
                                {{ type.label }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->

                    <!-- Description -->
                    <mat-form-field>
                        <textarea matInput placeholder="Description" formControlName="description"></textarea>
                    </mat-form-field>

                    <!-- URL -->
                    <mat-form-field>
                        <input matInput placeholder="Url" formControlName="url" type="text" />
                        <mat-error *ngIf="form.controls.url.errors">{{ form.controls.url.errors?.hint }}</mat-error>
                    </mat-form-field>

                    <!-- Room -->
                    <mat-form-field>
                        <mat-select placeholder="Room" formControlName="room" [compareWith]="compareFn">
                            <mat-select-trigger>
                                <mat-icon>{{ form.value.room?.icon }}</mat-icon>
                                {{ form.value.room?.name }}
                            </mat-select-trigger>

                            <mat-option *ngFor="let room of formOptions.rooms" [value]="room">
                                <mat-icon>{{ room.icon }}</mat-icon>
                                {{ room.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <div class="padding-top-30">
                        <button mat-flat-button color="delete" type="button" fxFlex (click)="delete()">Delete</button>
                        <button mat-flat-button color="primary" type="submit" fxFlex>Save</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</section>